#quoteDisplay
{
    display: block;
    height: 130px;
    width: 400px;
    background-color:purple;
    
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 10px;
    margin: 10px;
    color: white;
    font-size: 1.2rem;
}
button{
    background-color:green;
    color: white;
    font-size: 1.2rem;
    border: 2px solid green;
    padding: 50px;
    border-radius: 7px;
    align-items: center;
    justify-content: center;

}
button:hover{
    cursor: pointer;
    background-color: black;
    border:2px solid black;
}

